{% extends 'typing_game/base.html' %}

{% block title %}
Competition
{% endblock %}

{% block page %}
<style>
    .page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0;
    }
    .competition_list_container{
        display: flex;
        flex-direction: column;
        gap: 2em;
        background-color: rgba(0, 0, 255, 0.047);
        padding: 1em;

        .each_competition{
            border: 1px solid gray;
            border-radius: 10px;
            padding: 1em;
            background: rgba(91, 88, 88, 0.186);
            #competition_header{
                margin: 0.3em 0;
                border-bottom: 1px solid whitesmoke;
                padding-bottom: 0.5em;
                .actions{
                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .each_comp_more_detail{
                display: flex;
                flex-direction: column;
                gap: 1em;
                margin-top: 1em;
                p{
                    strong{
                        color: dimgray;
                    }
                }
                #description{
                    max-height: 5em;
                    overflow: auto;
                }
            }
        }

    }
    .button-info{
        border-radius: 20px;
        padding: 0.2em 0.5em;
        background: rgb(153, 80, 221);
    }
</style>
<div class="page-header">
    <h1>Competitions</h1>

    <a href="{% url 'typing_game:create_competition' %}" class="button">Create Competition</a>
</div>

<div class="competition_list_container">
    {% for competition in competitions %}
        <div class="each_competition">
            <div id="competition_header" class="page-header">
                <h2>{{competition.title}}</h2>
                {% if competition.organizer.id == profile_user.id and user_role == 'organizer' %}
                    <div class="actions"> 
                        <a href="{% url 'typing_game:edit_competition' competition.id %}" class="button">Edit</a>
                        <a href="{% url 'typing_game:delete_competition' competition.id %}" class="button" onclick="return confirm('Are you sure you want to delete ')">Delete</a>
                        <a href="{% url 'typing_game:activate_competition' competition.id %}" class="button" onclick="return confirm('Are you sure you want to Activate')">Activate</a>
                    </div>
                {% else %}
                    {% if competition.status == 'active' %}
                        <a href="{% url 'typing_game:join_competition' competition.id %}" class="button" onclick="return confirm('Are you sure you want to Join')">join</a>
                    {% elif competition.started %}
                        <span class="button-info">Competition is started</span>
                    {%else%}
                        <span class="button-info">Competition Not activated yet</span>
                    {%endif%}
                {% endif %}
            </div>
            <div class="each_comp_more_detail">
                <p id="description"><strong></strong>{{competition.description}}</p>
                <p><strong>Start Time: </strong>{{competition.start_time}}</p>
                <p><strong>End Time: </strong>{{competition.end_time}}</p>
                <p><strong>Duration: </strong>{{competition.duration}} minute(s)</p>
                <p><strong>Type: </strong>{{competition.type}}</p>
            </div>
        </div>
    {%empty%}
        <h3>No Competitions Available right Now</h3>
    {% endfor %}
</div>
{% endblock %}