<!-- live_competition.html -->
{% extends 'typing_game/base.html' %} 
{% load static %} 

{% block title %}Live Competition: {{ competition.title }}{% endblock %}

{% block page %}
<style>
    .page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Allows items to wrap on smaller screens */
        gap: 1em;
    }
    .page-header h1 {
        margin: 0.8em 0;
    }
       
    .race-track{
        margin-bottom: 1em;
        background-color: rgba(0, 0, 0, 0.227);
        padding: 1em;
    }
    #uploaded_para{
        border: 0.5px gainsboro solid;
        border-radius: 10px;
        padding: 0.8em 2em;
        text-align: justify;
        word-spacing: 0.4em;
        letter-spacing: 0.2em;
        line-height: 1.85;
        color: darkgrey;
        max-height: 15em;
        overflow: auto;
    }
    #para-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #duration{
       color: orange;
    }
    .type-para{
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        textarea{
            width: 100%;
            background: transparent;
            color: azure;
            border: 1px solid rgb(12, 127, 215);
            padding: 1em 2em;
            border-radius: 20px;
            font-size: larger;
        }
        textarea:focus {
            outline: none;
            border-color: orange;
            box-shadow: 0 0 5px orange;
        }
        textarea:disabled {
            background-color: #333;
            cursor: not-allowed;
        }
    }
    .participant-list {
        list-style-type: none;
        padding: 0;
    }
</style>
<div class="page-header">
    <h1>{{competition.title}} is live</h1>
    {% if competition.organizer.id == user_id and user_role == 'organizer' %}
        {%if competition.started %}
            <a href="#" class="button danger" onclick="return confirm('Are you sure you want to restart the competition?')" >Restart Competition</a>
        {% else %}
            <a href="#" class="button primary" onclick="return confirm('Are you sure you want to start the competition?')">Start Competition</a>
        {%endif%}
    {%endif%}
</div>

{% if competition.organizer.id == user_id and user_role == 'organizer' %}
    <div class="container">
        <h2>Participants</h2>
        <ul class="participant-list">
            {% for participant in joined_participants %}
                <li><strong>{{ participant.name }}</strong></li>
            {% empty %}
                <li>No participants have joined yet.</li>
            {% endfor %}
        </ul>
    </div>
{%else%}
    <div class="container">
        <h2>Your Performance</h2> 
        <div class="race-track">
            Typing not started yet
        </div>
        <div id="para-header">
            <h2>Uploaded Paragraph </h2> 
            <span id="duration">{{competition.duration}} minute(s)</span> 
            <span>{{competition.type}} typing</span>
        </div>
        <div id="uploaded_para" >
            {% for para in competition.paragraphs %}
                {{ para.text }}
            {%empty%}
                <p>No paragraph uploaded</p>
            {%endfor%}
        </div>
        <div class="type-para">
            <label for="TypingArea">Type the Paragraph here</label>
            <!-- {% if competition.started %}
                <textarea name="TypingArea" id="TypingArea" placeholder="Start typing here" rows="1" oninput="check_word()"></textarea>
            {% else %}
                <textarea name="TypingArea" id="TypingArea" placeholder="Wait for the organizer to start the competition..." rows="1" disabled></textarea>
            {%endif%} -->
            <textarea name="TypingArea" id="TypingArea" placeholder="Start typing here" rows="1" oninput="check_word()"></textarea>
        </div>
    </div>
{%endif%}
<script>
    function check_word(){
        const textarea = document.getElementById('TypingArea')
        const para_container = document.getElementById('uploaded_para')
        const paragraph = para_container.textContent.trim().split(" ")
        const typed = textarea.value
        console.log(paragraph)
        console.log(typed)

    }
</script>
{% endblock %}